body {
  
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

    height: 100%;
}
*{
    box-sizing: border-box;
}
#snowflakes {
    background: none;
    background-image: url("images/s1.png"),url("images/s2.png"),url("images/s3.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    -webkit-animation: snow 7s linear infinite;
    -moz-animation: snow 7s linear infinite;
    -ms-animation: snow 7s linear infinite;
    animation: snow 7s linear infinite;
    pointer-events: none;
}
.effect {
    filter: drop-shadow(0 0 6px rgb(255,255,255));
}

@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

section.window--buttons {
    top: 15px;
    left: 15px;
}
section.window--buttons .window__close {
    width: 1.5rem;
    height: 1.5rem;
    background: #f00;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s ease;
}
section.window--buttons .window__close:hover {
    transform: scale(1.2);
}





header{
   max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.nav_links{
    
    list-style: none;
    
}

.nav_links li{
    
    display: inline-block;
    padding: 0px 10px;
    
}

.navbar a:hover{
    background-color: whitesmoke;
}



.aboutc{
    padding: 1rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    background: url(images/back-main.png), no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.8;

}


.adaptive {
    background-color: #2f4454;
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:100% ;
}
#to-left {
    justify-content: left;
}
#to-center {
    align-items: center;
    justify-content: space-around;
}
#to-right {
    align-items: right;
    justify-content: right;
}

#t-left {

}





.container {
    background-color: #97aabd;

    max-width: 1200px;
    width: 100%;

    padding: 1rem 1rem;
    margin: 1rem 0;
    
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}


.container-m {
    background-color: #97aabd;
    max-width: 1200px;
    width: 100%;
    background: url(images/back-main.png), no-repeat;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.8 ;
    padding: 1rem 1rem;
    margin: 1rem 0;
    
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}




.text_col {
    
    color:darkred;  
    text-align: center;
}

.button {
    font-family: 'Lexend Deca', sans-serif;

    padding: 10px ;
    margin: 1rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2f4455;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    color:azure;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgba(100,100,100,0.75);
}

.li a:hover {
    color: rgba(0, 0, 0, 1);
}



.title {
    text-shadow:
    -2px -1px 0 gray,
    2px -1px 0 white,
    -2px 1px 0 gray,
    2px 1px 0 white;
    text-align: center;
    font-size: 28px;
    color:black;
    font-family:  'DM Serif Display', serif;
}

.title-m{
    text-align: center;
    font-size: 28px;
    color:black;
    font-family:  'DM Serif Display', serif;
     text-shadow:
    -1px -1px 0 #E6E6FA,
    1px -1px 0 #E6E6FA,
    -1px 1px 0 #E6E6FA,
    2px 2px 0 #E6E6FA;
    
}
.additional-title {
    text-shadow:
    -1px -1px 0 #E6E6FA,
    1px -1px 0 #E6E6FA,
    -1px 1px 0 #E6E6FA,
    2px 2px 0 #E6E6FA;
    font-size: 22px;
    color: rgb(0,0,0);
    text-align: center;
    font-family: 'Rubik', sans-serif;
    
}
.titlex2 {
   text-shadow:
    -1px -1px 0 #E6E6FA,
    1px -1px 0 #E6E6FA,
    -1px 1px 0 #E6E6FA,
    2px 2px 0 #E6E6FA;
    font-size:22px;
    color: black;
    text-align: center;
    font-family:  'Raleway', sans-serif;
    
}

.cent{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}

.achitop{
    
     text-align: center;
    font-size: 28px;
    color:black;
    font-family:  'Jost', sans-serif;
    
}

.achitext{
    
    
     text-align: center;
    font-size: 22px;
    color:black;
    font-family:  'Play', sans-serif;
}

.conttext{
  
    font-size: 22px;
    color:black;
    font-family: 'Orbitron', sans-serif;
    
    
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}
 
.back-to-top:hover {
  background: #333;
  text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #97aabd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
}


img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1200px) {
    .adaptive{
        width: 1000px;
    }
}
@media (max-width: 1000px) {
    .adaptive{
        width: 768px;
    }
}
@media (max-width: 768px) {
    .adaptive{
        width: 480px;
    }
    .button{
        padding: 8px;
        font-size: 14px;
    }
}
@media (max-width: 1px) {
    .adaptive{
        width: 350px;
    }

    .container{
        
        width: 350px;
        
    }
    
     .container.c{
        
        width: 350px;
        
    }
    .screen{
        
        width: 350px;
        
    }
    
    .app-form-control{
        
        width: 350px;
        
    }
    
    .screen-body-item{
        
        width: 350px;
          
    }
    
    .screen-body-item {
        
        width: 350px;
        
    }
    .button{
        padding: 8px;
        font-size: 12px;
    }
    .nav_links li{
        padding: 0px 5px;
    }
}





.container.c {
  background-color: #97aabd;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background-color: #97aabd;
  border-radius: 15px;
  width: 100%;
}



.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  font-size: 26px;
}


.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}



.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}



@media screen and (max-width: 320px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}



.scrollToTopBtn {
  background-color: #97aabd ;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 10px;
  line-height: 48px;
  width: 48px;
      /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
      /* keep it on top of everything else */
  z-index: 100;
      /* hide with opacity */
  opacity: 0;
      /* also add a translate effect */
  transform: translateY(100px);
      /* and a transition */
  transition: all .5s ease
}
    
.showBtn {
  opacity: 1;
  transform: translateY(0)
}

.icon:link{


text-decoration: none;
color: black;


}

.icon:visited{

text-decoration: none;
color: black;

}